<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124690330141-l1isp5vb622kp2t38k6d7d5pnl2q3h2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124690330141-l1isp5vb622kp2t38k6d7d5pnl2q3h2t</string>
	<key>API_KEY</key>
	<string>AIzaSyA0WtXrbh0pElWYUjtFqfq26qjR3ZJHQho</string>
	<key>GCM_SENDER_ID</key>
	<string>124690330141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Unisa.SafeAndCareSystem</string>
	<key>PROJECT_ID</key>
	<string>safeandcaresystem-b9e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>safeandcaresystem-b9e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124690330141:ios:ee7eac96cdc0bb6bd14cf4</string>
</dict>
</plist>